.SubContentBox{
	width: 50%;
	margin-left: 25%;
	height: 200px;
	margin-top: 0px;
	position: relative;
	text-align: center;	
}
.col-sm-1{
	text-align: center;
}
#FirstSubTitle{
	margin-top: 24px;
}
#MainAttarctText{
	color: white;
	margin-top: 188px;
	font-weight: 600;
	margin-bottom: 0px;
	font-size: 4.5em;
	line-height: 150%;
}
#SignalsText{
	margin-top: 32px;
	color: rgb(240,250,255);
	font-weight: lighter;
	line-height: 24px;
	font-size: 1.5em;
	margin-bottom: 0px;
	opacity: 0.8;
}
#TitleButtonPart1{
	text-align: right;
	margin-top: 76px;
}
#TitleButtonPart2{
	text-align: left;
	margin-top: 76px;
}
#CompanIconPart{
	height: auto;
	text-align: center;
}
#BubbleBottonGroupBox{
	border-bottom: rgb(115,115,115);
	border-bottom-style: hidden;
	border-bottom-width: thin;
}
.Introduce{
	text-align: center;
	font-family: "Arial";
	color: white;
}
.IntroTitle{
	font-weight: bold;
	font-size: 2.5em;
}
.SolutionBox{
	height: 200px;
	font-family: "Arial";
}
.TextControl{
	font-family: "Arial";
	font-size: 1em;
}
#SayingTitle{
	margin-top: 90px;
	margin-bottom: 90px;
	font-family: "Arial";
	font-weight: 600;
	font-size: 2.5em;
	color: white;
	
}
#LandingFirstLearnMoreProduct{
	font-size: 1.5em;;
	font-weight: bold;
	padding-top: 11.5px;
	height: 60px;
	width: 272px;
	border-radius: 3%;
	color: rgb(99,104,247);
	background-color: transparent;
	border-color: rgb(99,104,247);
	max-width: 100%;
}
#ASolutionYN{
	font-family: "Arial";
	font-weight: 500;
	font-size: 2em;
}
#MainContentJumpBox1{
	text-align: center;
}
#MainContentJumpBox2{
	text-align: center;
}
#BubbleBottonGroupBox{
	background-color: rgb(255,255,255);
	height: auto;
	padding-top: 2%;
	padding-bottom: 8%;
}
.BottomIcons{
	width: 90px;
}
.CenterandBoderBox{
	padding-right: 5px;
	padding-left: 5px;
	background-color: transparent;
}
.CenterandBoder{
	text-align: center;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	border-style: solid;
	border-width: thin;
	overflow: hidden;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 200px;
	overflow: hidden;
	z-index: 1;
	background-color: rgb(99,106,247);
	border-radius: 2%;
	font-family: "Arial";
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 30px;
}
.CenterandBoder2{
	text-align: center;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	border-style: solid;
	border-width: thin;
	overflow: hidden;
	padding-top: 2%;
	padding-bottom: 2%;
/*	margin-bottom: 10%;*/
	height: 200px;
	overflow: hidden;	
	z-index: 2;
	background-color: rgb(99,106,247);
	border-radius: 2%;
	font-family: "Arial";
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 30px;
}
.LeftBoder{
	border-left-color: black;
}
.ProcessDetailSignalBox{
/*	height: 634px;*/
	height: auto;
/*	margin-bottom: 10%;*/
}
.ProcessDetailSignalBox2{
	height: auto;
	margin-bottom: 120px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: rgb(138,147,253);
}
.navbar-nav>li>.dropdown-menu{
	background-color: rgb(138,147,253);
}
#DetailColum2{
	border-left-color: transparent;
	border-right-color: transparent;
	border-style: solid;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-width: 0.5px;
}
#DetailColum2ImageBox{
	float: right;
}
#DetailColum3{
	margin-bottom: 0px;
}
#ProcessDetailContent{
	padding-left: 2.5%;
	padding-right: 2.5%;
/*	padding-bottom: 104px;*/
}
#LinkButtonPartText1{
	padding-top: 188px;
	padding-bottom: 78px;
}
#LinkButtonCotainBox24{
	border-right-color: transparent;
}
#TitleBar{
	background-color: transparent;
	background: url(../Resource/LandingPageImages/BackgroundFullSizeChangeAgain.jpg);
	margin-bottom: 0px;
	text-align: center;
	padding-bottom: 144px;
	padding-top: 0px;
	height: auto;
	background-size: cover;
	background-position: center center;
}

.NameOh{
	margin-top:0px;
}
.TitleRule{
	margin-bottom: 0px;
	margin-top: 15px;
	font-family: "Arial";
	font-size: 1.2em;
	color: rgb(255,255,255);
	padding-left: 20px;
	padding-right: 20px;
}
.NamePartRule{
	color: rgb(255,255,255);
	margin-top: 10px;
	font-family: "Arial";
	font-size: 1.2em;	
	padding-left: 20px;
	padding-right: 20px;
}
.AdImageShow{
	width: 100%;
	margin-bottom: 20%;
}
.CirclePart{
	margin-top: 10px;
	color: rgb(212,212,214);
}
.FullSizeImage{
	width: 80%;
	height: auto;
}
.Margin-left{
	margin-left: 6.25%;
}
.TextCotent{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgb(246,246,248);
	border-radius: 2%;
}
.SayingTitle{
	margin-top: 1%;
	padding-left: 0;
	font-family: "Arial";
	font-weight: lighter;
}
.SayingTitleTextStyle{
	font-size: 1em;
}
.SayingText{
	font-family: "Arial";
	font-weight: lighter;
	color: rgb(0,0,0);
	font-size: 1.3em;
}
.ProcessDetailTextIntro{
	margin-top: 8%;
}
.ProcessDetailTextIntro2{
	
}
.ProcessDetailIntroImage{
	width: 100%;
}
.ProcessDetailText{
	font-family: "Arial";
	font-weight: lighter;
	font-size: 1.3em;
	line-height: 30px;
	color: rgb(55,54,226);
}
.ProcessDetailIntroText{
	font-family: "Arial";
	font-weight: lighter;
	font-size: 1em;
	color: rgb(172,172,172);
	line-height: 24px;
}
.CustomerTitle{
	margin-top: 110px;
	font-family: "Arial";
	font-weight: 600;
	color: black;
	margin-bottom: 100px;
	font-size: 2.5em;
}
.BigSize{
	height: auto;
	margin-bottom: 40px;
	width: 16em;
}
.SayingTextWhite{
	font-family: "Arial";
	font-weight: 300;
	text-align: center;
	color: white;
	font-size: 1.2em;
	padding-left: 10%;
	padding-right: 10%;
}
.SayingTitleWhite{
	font-family: "Arial";
	font-weight: 300;
	text-align: center;
	color: white;
	font-size: 1.2em;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 84px;
}
.ButtonIconLittleMarginleft{
	margin-left: 5px;
	margin-bottom: 72px;
}
#ErwinWhiteTitleText{
	margin-bottom: 0px;
}
#ASolutionYNTitle{
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}
#IntegrateTitleCenter{
	text-align: center;
	cursor: default;
}
#ProcessTitleCenter{
	text-align: center;
	cursor: default;
}
#VisualizationTitleCenter{
	text-align: center;
	cursor: default;
}
#IntegrateTitle{
	text-align: left;
	cursor: default;
}
#ProcessTitle{
	text-align: right;
	cursor: default;
}
#VisualizationTitle{
	text-align: left;
	cursor: default;
}
#TextBox{
	padding-left: 6.25%;
	padding-right: 6.25%;
}
#TextSayingPart{
	background-color: rgb(255,255,255);
	padding-bottom: 114px;
	background: url(../Resource/LandingPageImages/CustomerSayingBackground.png);
	background-size: cover;
}
#LinkButtonCotainBox14{
	border-right-color: transparent;
}
#SmallInsIconBox1{
	width: 80%;
	margin-top: 8%;
}
#BubbleProcessDetailCotainer{
	background-color: rgb(255,255,255);
}
#ProcessDetailCotainer{
	background-color: rgb(255,255,255);
	padding-bottom: 130px;
/*	background: url(../Resource/LandingPageImages/SolutionPartBackground.jpg);*/
	background-size: cover;

}
#ProcessDetailTextIntro2{
	margin-left: 0px;
	margin-right: 0px;
}
#CompanyIconPartTitleRow1{
	padding-top: 0;
	text-align: center;
}
#CompanyIconPartRow1{
	padding-top: 0;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
}
#CompanyIconPartRow2{
	padding-top: 0;
	margin-bottom: 118px;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
}

#CompanyCotainers{
	background-color: rgb(246,246,248);
}
#TitleIntroNewLanding{
	margin-top: 100px;
}
#IntroText1{
	margin-top: 20px;
}
#PageContent{
	background-color: rgb(246,246,248);
	margin-top: 0px;
}
#HowSignalsWorksDetail{
	background-color: white;
	padding-top: 1%;
	padding-bottom: 1%;
}
#HowSignalsWorksDetailCotnetRow{
	width: 60%;
	margin-left: 20%;
	height: 500px;
}
#DetailColum1{
	padding-left: 0px;
	padding-right: 0px;
}
#DetailColum2{
	padding-left: 0px;
	padding-right: 0px;
}
#DetailColum3{
	padding-left: 0px;
	padding-right: 0px;
}
.FullCoverContentImage{
	width: 100%;
	height: auto;
	position: relative;
}
.ContinueChangeBox{
	margin-top: 1%;
}

#ContinueChangeBox1{
	position: relative;
	opacity: 1;
	z-index: 3;
}
#ContinueChangeBox2{
	position: absolute;
	opacity: 0;
	z-index: -1;
	
}
#ContinueChangeBox3{
	position: absolute;
	opacity: 0;
	z-index: -1;
}
@media screen and (max-width: 768px) {
	.BigSize{
		height: auto;
		width: 12em;
	}
	#ProcessTitle{
		text-align: left;
	}
	#ProcessDetailText1{
		text-align: left;
	}
	.ProcessDetailSignalBox2{
		margin-bottom: 40px;
	}
	#MainAttarctText{
		font-size: 3em;
	}
/*
	#FirstTry{
		width: 232px;
	}
*/
}

@media screen and (max-width: 992px) {
	#ProcessDetailText1{
		text-align: left;
	}
	#ProcessTitle{
		text-align: left;
	}
	#ProcessDetailIntroText2{
		text-align: left;
	}
	#TitleButtonPart1{
		text-align: center;
	}
	#TitleButtonPart2{
		text-align: center;
	}
}

